<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faker Page</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>
<body>
	<div class="container">
	   {{{body}}}
	</div>
</body>
</html>
